<meta property="og:type" content="website">
<meta property="og:title" content="Yoosuf - a software engineer based in Sri Lanka">
<meta property="og:description" content="Yoosuf is with decade of experience in programming, application development and maintenance. Comprehensive knowledge of
Object-Oriented Design and Analysis with extensive experience in the full life cycle of the software design process
including requirements definition, prototyping, proof of concepts, design, interface implementation, testing and
maintenance.">
<meta property="og:url" content="https://yoosuf.co">
<meta property="og:image" content="https://yoosuf.co/assets/images/yoosuf.jpg">
<meta property="fb:app_id" content="313140939486083">
