<footer class="page-footer">
  <div class="footer-copyright">
    <div class="row">
<div class="col-xs-12
col-sm-12
col-md-12
col-lg-12">

<p class="rss-subscribe">To get latest updates, please subscribe
  <a href="{{ " /feed.xml " }}">via RSS</a>
</p>
    <p>Copyright &copy; 2007-2020 {{ site.title }}, All rights reserved</p>

    </div>
    </div>
  </div>
</footer>
</div>

<script type='application/ld+json'>
  {
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "Yoosuf Mohamed",
    "url": "https://yoosuf.co",
    "sameAs": [
       "https://twitter.com/eyoosuf",
       "https://www.facebook.com/yoosuf.mo",
       "https://www.linkedin.com/in/yoosufmo/",
       "https://www.instagram.com/yoosuf.mo/",
       "https://github.com/yoosuf"
    ]
  }
  </script>
</body>
</html>
