{% if page.url != '/' %}
<nav id="mshead" class="header" aria-label="Site">
  <a href="/" aria-label="Yoosuf Mohamed — Home">
    <figure>
      <img
        itemprop="image"
        src="{{'/assets/images/yoosuf.jpg'}}"
        alt="Yoosuf Mohamed, Software Engineer"
      />
    </figure>
  </a>

  <ul class="site-menu">
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
{% endif %}
