<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@eyoosuf">
<meta name="twitter:title" content="Yoosuf - a software engineer based in Sri Lanka">
<meta name="twitter:description" content="Yoosuf is with decade of experience in programming, application development and maintenance. Comprehensive knowledge of
Object-Oriented Design and Analysis with extensive experience in the full life cycle of the software design process
including requirements definition, prototyping, proof of concepts, design, interface implementation, testing and
maintenance.">
<meta name="twitter:image" content="https://yoosuf.co/assets/images/yoosuf.jpg">
<meta name="twitter:image:alt" content="Yoosuf at Galle Fort">
