$color_1: inherit;
$color_2: var(--color-darkgrey);
$color_3: #daf2fd;
$color_4: #15171A;
$font-family_1: sans-serif;
$font-family_2: monospace, monospace;
$font-family_3: var(--font-mono);
$font-family_4: var(--font-sans);
$background-color_1: transparent;
$background-color_2: #fdffb6;

/* Reset
/* ---------------------------------------------------------- */
/* 1 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Quotation marks */
html {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: $font-family_1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	input[type="button"] {
		cursor: pointer;
		-webkit-appearance: button;
	}
	input[disabled] {
		cursor: default;
	}
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	line-height: 1;
	color: $color_2;
	font-family: $font-family_4;
	font-size: 1.6rem;
	line-height: 1.6em;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0;
	text-rendering: optimizeLegibility;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}
div {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
span {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
applet {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
object {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
iframe {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	vertical-align: middle;
}
h1 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0.67em 0;
	font-size: 2em;
	margin-top: 0;
	line-height: 1.15;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	letter-spacing: -0.01em;
	margin: 0 0 0.5em 0;
	font-size: 4.8rem;
	font-weight: 700;
	letter-spacing: -0.015em;
}
h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin-top: 0;
	line-height: 1.15;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	letter-spacing: -0.01em;
	margin: 1.5em 0 0.5em 0;
	font-size: 2.8rem;
	font-weight: 700;
}
h3 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin-top: 0;
	line-height: 1.15;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	letter-spacing: -0.01em;
	margin: 1.5em 0 0.5em 0;
	font-size: 2.4rem;
	font-weight: 600;
}
h4 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin-top: 0;
	line-height: 1.15;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	letter-spacing: -0.01em;
	margin: 1.5em 0 0.5em 0;
	font-size: 2rem;
}
h5 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin-top: 0;
	line-height: 1.15;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	letter-spacing: -0.01em;
	margin: 1.5em 0 0.5em 0;
	font-size: 2rem;
}
h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin-top: 0;
	line-height: 1.15;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	letter-spacing: -0.01em;
	margin: 1.5em 0 0.5em 0;
	font-size: 1.8rem;
}
p {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	quotes: none;
	margin: 1.5em 0;
	padding: 0 1.6em 0 1.6em;
	border-left: #daf2fd;
	&:before {
		content: "";
		content: none;
	}
	&:after {
		content: "";
		content: none;
	}
	small {
		display: inline-block;
		margin: 0.8em 0 0.8em 1.5em;
		font-size: 0.9em;
		opacity: 0.8;
		&:before {
			content: "\2014 \00A0";
		}
	}
	cite {
		font-weight: bold;
		a {
			font-weight: normal;
		}
	}
}
pre {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-family: $font-family_2;
	font-size: 1em;
}
a {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background-color: $background-color_1;
	color: $color_4;
	text-decoration: none;
	&:active {
		outline: 0;
	}
	&:hover {
		outline: 0;
	}
}
abbr {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
acronym {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
address {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
big {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
cite {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
code {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-family: $font-family_2;
	font-size: 1em;
}
del {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
dfn {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-style: italic;
}
em {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-style: italic;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	display: block;
	max-width: 100%;
	height: auto;
	border: 0;
	vertical-align: middle;
}
ins {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
kbd {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-family: $font-family_2;
	font-size: 1em;
	padding: 3px 5px;
	font-family: $font-family_3;
	font-size: 1.5rem;
	background: #f6f8fa;
	border: 1px solid rgba(124, 139, 154, 0.25);
	border-radius: 6px;
	box-shadow: inset 0 -1px 0 rgba(124, 139, 154, 0.25);
}
q {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	quotes: none;
	&:before {
		content: "";
		content: none;
	}
	&:after {
		content: "";
		content: none;
	}
}
s {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
samp {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-family: $font-family_2;
	font-size: 1em;
}
small {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-size: 80%;
}
strike {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
strong {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-weight: bold;
}
sub {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
	bottom: -0.25em;
}
sup {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
	top: -0.5em;
}
tt {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
var {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
dl {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
dt {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	float: left;
	margin: 0 20px 0 0;
	width: 120px;
	color: $color_3;
	font-weight: 500;
	text-align: right;
}
dd {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0 0 5px 0;
	text-align: left;
}
ol {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
	padding-left: 1.3em;
	padding-right: 1.5em;
	list-style: decimal;
	max-width: 100%;
	ol {
		margin: 0.5em 0 1em;
	}
	ul {
		margin: 0.5em 0 1em;
	}
}
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
	padding-left: 1.3em;
	padding-right: 1.5em;
	list-style: disc;
	max-width: 100%;
	ul {
		margin: 0.5em 0 1em;
	}
	ol {
		margin: 0.5em 0 1em;
	}
}
li {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	padding-left: 0.3em;
	line-height: 1.6em;
	+ {
		li {
			margin-top: 0.5em;
		}
	}
}
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
}
form {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
label {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
legend {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	padding: 0;
	border: 0;
}
table {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border-spacing: 0;
	border-collapse: collapse;
	border-spacing: 0;
	border-collapse: collapse;
}
caption {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
tbody {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
tfoot {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
thead {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
tr {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
th {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	padding: 0;
}
td {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	padding: 0;
}
article {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
aside {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
canvas {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	vertical-align: middle;
}
details {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
embed {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
figure {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
footer {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
header {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
hgroup {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
menu {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
nav {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
output {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
ruby {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
section {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
summary {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
time {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
mark {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background-color: $background-color_2;
}
audio {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	vertical-align: middle;
}
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	vertical-align: middle;
}
* {
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
svg {
	&:not(:root) {
		overflow: hidden;
	}
	vertical-align: middle;
}
button {
	margin: 0;
	color: $color_1;
	font: inherit;
	overflow: visible;
	border: none;
	text-transform: none;
	cursor: pointer;
	-webkit-appearance: button;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}
input {
	margin: 0;
	color: $color_1;
	font: inherit;
	line-height: normal;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
	&:focus {
		outline: none;
	}
}
optgroup {
	margin: 0;
	color: $color_1;
	font: inherit;
}
select {
	margin: 0;
	color: $color_1;
	font: inherit;
	text-transform: none;
}
textarea {
	margin: 0;
	color: $color_1;
	font: inherit;
	overflow: auto;
	resize: vertical;
}
input[type="reset"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="number"] {
	&::-webkit-inner-spin-button {
		height: auto;
	}
	&::-webkit-outer-spin-button {
		height: auto;
	}
}
input[type="search"] {
	box-sizing: content-box;
	-webkit-appearance: textfield;
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
	}
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}
::selection {
	text-shadow: none;
	background: #daf2fd;
}
hr {
	position: relative;
	display: block;
	width: 100%;
	margin: 2.5em 0 3.5em;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #f0f0f0;
}
::not(.jekyll-content) {
	p {
		margin: 0 0 1.5em 0;
	}
	ul {
		margin: 0 0 1.5em 0;
	}
	ol {
		margin: 0 0 1.5em 0;
	}
	dl {
		margin: 0 0 1.5em 0;
	}
	blockquote {
		margin: 0 0 1.5em 0;
	}
}
@media (max-width: 600px) {
	kbd {
		font-size: 1.3rem;
	}
	h1 {
		font-size: 2.8rem;
	}
	h2 {
		font-size: 2.3rem;
	}
	h3 {
		font-size: 1.7rem;
	}
	h4 {
		font-size: 1.7rem;
	}
}
